<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<title>Insert title here</title>
<style type="text/css">
	* {
    margin: 10px;
    padding: 0;
}

html body {
        background-color: ghostwhite;
}

body{
	text-align: center;
	display: block;
    width: 90%;
    height: 123px;
    margin: 0 auto;
}

</style>
</head>
<body>
	
	<form th:action="@{/salvar}" th:object="${pessoa}" style="margin-left: 600px; margin-top: 100px">
		<div class="form-row">
			<label style="font-size: 30px; margin-top:-7px "><strong>Nome: </strong> </label>
			<input class="form-control col-md-5" type="text" name="nome" th:value="${pessoa.nome}">
		</div>
		<div class="form-row">
			<label style="font-size: 30px; margin-top:-7px; margin-right: 15px" ><strong>Idade: </strong></label>
			<input class="form-control col-md-5" type="text" name="idade" th:value="${pessoa.idade}">
		</div>
		<div class="form-row" style="margin-left: 120px">
			<button type="submit" class="btn btn-lg btn-success"><strong>Salvar</strong> </button>
			<a type="button" class="btn btn-danger" th:href="@{/}"><strong>Cancelar</strong> </a>
		</div>
	
	</form>
	
	<br>
	<div class="alert" th:replace="fragments/alert"></div>

	<div class="table" style="margin-top: 50px">
		<h1 class="TitleList">Lista de Pessoas</h1>
			
		<table class="table table-sm">
			<tr> 
				<td>Nome</td>
				<td>Idade</td>
				<td colspan="2"> <a type="button" class="btn btn-dark" href="/ordenar">Ordenar</a> </td>
			</tr>
			<tr th:each="pessoa : ${pessoas}">
				<td th:text="${pessoa.nome}">nome</td>
				<td th:text="${pessoa.idade}">idade</td>
				<td><a type="button" class="btn btn-info" th:href="@{/update (nome = ${pessoa.nome})}">Alterar</a></td>	
				<td><a type="button" class="btn btn-danger" th:href="@{/delete (nome = ${pessoa.nome})}"onclick="confirm('Deseja realmente excluir?')">Excluir</a></td>
			</tr>
		</table>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	
</body>
</html>